/* 575.98 */
@media (max-width: 575.98px) {
  .h-name {
    font-size: 25px !important;
    width: 100%;
  }
  .playButton {
    font-size: 1.5rem;
    margin: auto;
  }
  .playButton:hover {
    font-size: 1.5rem;
    color: black;
    background: linear-gradient(to right, #830bac, #06dee1, #79ff6c, #fc3628);
    padding-right: 27% !important;
  }
  .text-container {
    margin: auto;
  }
  .p-name {
    font-size: 18px;
    text-align: center;
  }
  /* header */
  .row_T {
    margin: auto;
  }
  .title_T {
    font-size: 16px;
    text-align: center;
  }
  /* contact */
  .fa-stack {
    width: 3rem !important;
    height: 3rem !important;
  }
  .i_ct {
    position: absolute;
    top: 6px;
    left: -4px;
    width: 50px;
    height: 50px;
  }
  /* * Navbar * */
  .navbar-toggler {
    position: fixed;
    top: 0.8rem;
    left: 80%;
  }
  .logo {
    position: fixed;
    top: -0.2rem;
  }
  .navbar-nav {
    margin-top: 3.5rem;
  }
  .nav-item {
    background-color: rgb(0, 12, 35);
    opacity: 0.9;
    margin-bottom: 0;
    text-align: center;
  }
  .nav-link {
    color: #79ff6c !important;
  }
  .nav-link:focus {
    color: #179296 !important;
  }
  .nav_link_custom {
  }
  .con_custom {
    position: absolute;
    top: 32%;
    left: 0rem;
  }
  .search_nav_bar {
    display: none;
    visibility: hidden;
  }
  .contact {
    text-align: center !important;
  }
  /* *side bar * */
  .ip11 {
    left: 0.3rem;
    width: 0.4rem;
  }
  .ip11:hover {
    color: gray;
    width: 1.5vw;
  }
  .w3-light-info {
    width: 70%;
  }
  .w3-bar-item {
    text-align: center !important;
    font-size: 80% !important;
  }
  .avatar_show {
    width: 8rem !important;
    height: 8rem !important;
  }
  .hide_side {
    left: -70%;
  }
  /* * login * */
  .login_form {
    width: 100vw !important;
    top: 10% !important;
  }
  .logup_row {
    width: 100vw;
    position: relative;
    top: -8.5vh;
    margin: auto;
  }
  .no_margin {
    margin: 0 !important;
  }
  .logup_input {
    position: relative;
  }
  .fullheight {
    height: 100%;
  }
  .login_row {
    margin: auto;
    height: 80vh;
  }
  .red_forgot_pass {
    display: flex;
  }
  .forgot_pass {
    font-size: 15px;
  }
  .title_G1 {
    margin-top: 1rem !important;
  }
  .title_G1,
  .title_G2 {
    margin-top: 0rem !important;
    margin-bottom: 0rem !important;
  }
  .play-button {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
  }
  .grid-item-txt {
    padding-bottom: 0 !important;
  }
  .play_des {
    margin: auto;
    width: 100%;
  }
  .flex {
    display: flex;
  }
  .login_warn,
  .login_warn_1 {
    font-size: 18px !important;
  }
  .more_in4 {
    width: 100%;
  }
}

@media (min-width: 321px) and (max-width: 575.98px) {
  .logup_row {
    top: 5vh;
  }
}
