@media (max-width: 320px) {
  .glx_fold {
    font-size: 10px;
  }
  .glx_fold_T {
    font-size: 20px;
  }
  .logup_input {
    width: 80vw;
    position: relative;
    margin-left: -18.5vw;
  }
  .copy_right_fold {
    position: relative;
    left: -15vw;
  }
  .logup_row {
    height: 85vh;
    position: relative;
    top: 2vh;
    padding-top: 0 !important;
  }
}
