@media (min-width: 767px) and (max-width: 991.98px) {
  .p-name {
    font-size: 1.6rem;
    color: rgb(255, 255, 255);
    font-weight: 500;
  }
  .login_form {
    width: 100vw !important;
  }
  .grid-container {
    grid-template-columns: auto auto !important;
  }
  .ip11 {
    left: 0.3rem;
    width: 0.4rem;
  }
  .ip11:hover {
    color: gray;
    width: 1.5vw;
  }
  .w3-light-info {
    width: 30%;
  }
  .w3-bar-item {
    text-align: center !important;
    font-size: 1rem;
  }
  .hide_side {
    left: -30%;
  }
}
