.rank_game_table {
  position: fixed;
  top: 2rem;
  width: 20%;
  opacity: 0.5;
  background-color: gray !important;
  color: black;
  left: 80%;
}
.rank_game_td {
  font-size: 13px;
}
@media (max-width: 750px) {
  .rank_game_table {
    position: fixed;
    top: 4rem;
    width: 40%;
    height: 20px;
    opacity: 0.7;
    background-color: gray !important;
    color: black;
    left: 50%;
  }
  .rank_game_th {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 1%;
    padding-right: 1%;
  }
  .rank_game_td {
    font-size: 80%;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 1%;
    padding-right: 1%;
  }
}
