.grid-container {
  display: grid;
  grid-column-gap: 1.8rem;
  grid-row-gap: 1.8rem;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
}
@media only screen and (max-width: 600px) {
  .grid-container {
    grid-template-columns: auto !important;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .grid-container {
    grid-template-columns: auto auto auto !important;
  }
}
.row {
  width: 100%;
}
.grid-item {
  font-size: 30px;
  text-align: center;
  border-radius: 1rem;
}
.title_G1 {
  font-size: 60%;
  margin-top: 20%;
}
.title_G2 {
  font-size: 60%;
  margin-bottom: 20%;
}
.grid-item-image {
  background-color: rgb(0, 17, 51); /* Used if the image is unavailable */
  height: 30vh;
  width: 30vh;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  width: 100%;
  border-radius: 1rem 1rem 0 0;
}
/* .grid-item-txt {
  width: 100%;
  padding-bottom: 1rem;
} */
.des_go_game {
  width: 50%;
}
.play_des {
  width: 100%;
}
.flex {
  display: flex;
}
.play-button {
  font-size: 50%;
  text-transform: unset !important;
  margin-top: 30%;
  margin-bottom: 20%;
  text-decoration: none;
}
.fixed {
  position: fixed !important;
}
.login_warn {
  position: fixed;
  top: 40%;
}
.login_warn_1 {
  font-size: 150%;
}
.enter_game {
  position: relative;
  height: 3.22rem;
}
.search_nav_bar {
  z-index: 2100;
  width: 50%;
  left: 48%;
  margin-left: 15%;
  padding: 0.9rem 1rem;
  position: fixed;
}
.input_N {
  background-color: rgb(0, 12, 35) !important;
  border: 1px rgb(11, 209, 123) solid !important;
  color: #79ff6c !important;
}
.input_N:focus {
  background-color: rgb(0, 12, 35) !important;
  border: 1px rgb(0, 17, 51) solid;
}
.btn_love_game {
  z-index: 2000;
  margin-left: 0.5rem;
  color: #79ff6c;
  background-color: rgb(0, 17, 51);
  padding: 0.38rem;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  border: 1px rgb(11, 209, 123) solid;
  cursor: pointer !important;
  transition: 0.2s;
  border-radius: 5px;
  display: flex;
}
.btn_love_game:hover {
  background-color: rgb(15, 106, 74);
  color: white;
  padding: 0.38rem;
}
.custom-control-label {
  cursor: pointer !important;
}
.switch_love_game {
  margin-right: 0.5rem;
}
