body,
html {
  width: 100%;
  height: 100%;
}
.h2-heading,
.p-heading {
  color: black !important;
}
.row_T {
  background-color: rgb(0, 12, 35);
  padding: 5% 5% 5% 5%;
  border-radius: 50px;
}
.dark_blue {
  background-color: rgb(0, 17, 51);
}
.darker_blue {
  background-color: rgb(0, 12, 35);
}
.light_blue {
  color: rgb(88, 255, 197) !important;
}
.white_color {
  color: white;
}
.basic-2 {
  background-color: rgb(0, 17, 51);
  /* 0,12,35 */
  color: rgb(88, 255, 197);
}
.basic-3 {
  color: rgb(88, 255, 197);
  background-color: rgb(0, 17, 51);
}
.basic-4 {
  color: rgb(88, 255, 197);
  background-color: rgb(0, 17, 51);
  margin-bottom: 10%;
}
.basic {
  margin-bottom: 8% !important;
  margin-top: 8% !important;
}
.content {
  text-align: center;
}
.title_T {
  color: rgb(88, 189, 255) !important;
}
.image_team {
  border-radius: 10px;
}
.type_T {
  margin-top: 5%;
}
.input_T {
  background-color: rgb(0, 17, 51);
  border: 1px rgb(0, 17, 51) solid;
  color: rgb(88, 255, 197);
}
.input_T:focus {
  background-color: rgb(0, 17, 51) !important;
  border: 1px rgb(0, 17, 51) solid;
  color: rgb(88, 255, 197);
}
.h1-large {
  font-size: 2.875rem;
  line-height: 3.5rem;
}
.p-large {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.p-name {
  font-size: 2rem;
  color: rgb(255, 255, 255);
  font-weight: 550;
}
.h-name {
  color: rgb(34, 255, 0);
}
h-name .center {
  text-align: center !important;
}
.circle_blue_small {
  width: 13px;
  height: 13px;
  border-radius: 100px;
  background: rgb(26, 148, 255);
  margin-top: 1%;
  margin-right: 5%;
}
.img-fluid {
  margin-top: 10%;
  margin-bottom: 5%;
}
.text_left {
  text-align: left;
}
.fa-stack {
  border: 1px rgb(26, 148, 255) solid;
  font-size: 2rem;
  border-radius: 100px;
  transition: 0.2s;
  margin-left: 1%;
  margin-right: 1%;
}
.fa-stack:hover {
  border: 1px black solid;
  font-size: 2rem;
  border-radius: 100px;
  background: white;
}
.playButton {
  transition: 0.5s;
  font-size: 2.5em;
  text-decoration: none;
  border-radius: 30px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 2px black solid;
  font-weight: 550;
  background-color: rgb(0, 12, 35);
  color: rgb(88, 255, 197);
}
.playButton:hover {
  color: black;
  background: linear-gradient(to right, #06dee1, #fc3628, #830bac, #79ff6c);
  padding-right: 50% !important;
}
.p-small {
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.testimonial-text {
  font-style: italic;
}

.testimonial-author {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
}

.li-space-lg li {
  margin-bottom: 0.5rem;
}

.no-line {
  text-decoration: none;
}

.no-line:hover {
  text-decoration: none;
}

.purple {
  color: #594cda;
}
.label-control {
  position: absolute;
  top: 0.875rem;
  left: 1.875rem;
  color: #7d838a;
  opacity: 1;
  font-size: 0.875rem;
  line-height: 1.5rem;
  cursor: text;
  transition: all 0.2s ease;
}

/**********************/
/*     Navigation     */
/**********************/
.navbar {
  background-color: #d1f7f7;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 0.875rem;
}
nav {
  background-color: #003737 !important;
  opacity: 0.9;
}
nav:hover {
  opacity: 0.9;
}
.title {
  font-size: 140%;
  color: wheat;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.navbar .navbar-brand {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}

.navbar .logo-image img {
  width: 12vh;
  height: 12vh;
}

.navbar .logo-text {
  color: #252c38;
  font-weight: 600;
  font-size: 2rem;
  line-height: 1rem;
  text-decoration: none;
}

.offcanvas-collapse {
  position: fixed;
  top: 3.25rem; /* adjusts the height between the top of the page and the offcanvas menu */
  bottom: 0;
  left: 100%;
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  overflow-y: auto;
  visibility: hidden;
  background-color: #f1f9fc;
  transition: visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out,
    -webkit-transform 0.3s ease-in-out;
}

.offcanvas-collapse.open {
  visibility: visible;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.navbar .navbar-nav {
  margin-top: 0.75rem;
  margin-bottom: 0.5rem;
}

.navbar .nav-item .nav-link {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  font-size: 120%;
  color: wheat;
  text-decoration: none;
  transition: all 0.2s ease;
}

.navbar .nav-item.dropdown.show .nav-link,
.navbar .nav-item .nav-link:hover,
.navbar .nav-item .nav-link.active {
  color: #ff6e84;
}

/* Dropdown Menu */
.navbar .dropdown .dropdown-menu {
  animation: fadeDropdown 0.2s; /* required for the fade animation */
}

@keyframes fadeDropdown {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.navbar .dropdown-menu {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border: none;
  background-color: #f1f9fc;
}

.navbar .dropdown-item {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #6b747b;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 0.875rem;
  text-decoration: none;
}

.navbar .dropdown-item:hover {
  background-color: #f1f9fc;
  color: #ff6e84;
}

.navbar .dropdown-divider {
  width: 100%;
  height: 1px;
  margin: 0.5rem auto 0.5rem auto;
  border: none;
  background-color: #d4dce2;
}
/* end of dropdown menu */

.navbar .app-store-icons {
  display: block;
}

.navbar .app-store-icons a {
  text-decoration: none;
}
.navbar .fab {
  color: #594cda;
  font-size: 1.25rem;
  transition: all 0.2s ease;
}

.navbar .fab:hover {
  color: #eb427e;
}

.navbar .fa-apple {
  margin-right: 0.375rem;
}

.navbar .navbar-toggler {
  padding: 0;
  border: none;
  font-size: 1.25rem;
}

/*****************/
/*    Header     */
/*****************/
.header {
  padding-top: 7rem;
  padding-bottom: 7rem;
  background-image: url("../components/Template/images/article-details-large.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  text-align: center;
}
.black {
  position: absolute;
  width: 100%;
  height: 100vh;
  opacity: 0;
}

.header .text-container {
  margin-bottom: 4rem;
  text-align: center;
}

.header .h1-large {
  margin-bottom: 1.25rem;
}

.header .p-large {
  margin-bottom: 2rem;
}

.header .btn-solid-lg {
  margin-right: 0.25rem;
  margin-bottom: 1.25rem;
  margin-left: 0.25rem;
}

/*********************/
/*     Copyright     */
/*********************/
.copyright {
  padding-top: 1.5rem;
  text-align: center;
}

.copyright a {
  text-decoration: none;
}

/*************************/
/*     Media Queries     */
/*************************/
/* Min-width 768px */
@media (min-width: 768px) {
  /* Header */
  .header {
    padding-top: 9rem;
  }
  /* end of header */

  /* Extra Pages */
  .ex-basic-1 .text-box {
    padding: 1.75rem 2rem 0.875rem 2rem;
  }
  /* end of extra pages */
}
/* end of min-width 768px */

/* Min-width 992px */
@media (min-width: 992px) {
  /* General Styles */
  .h2-heading {
    width: 35.25rem;
    margin-right: auto;
    margin-left: auto;
  }

  .p-heading {
    width: 46rem;
    margin-right: auto;
    margin-left: auto;
  }
  /* end of general styles */

  /* Navigation */
  .navbar {
    padding-top: 1.75rem;
    background-color: transparent;
    border-bottom: none;
    transition: all 0.2s;
  }

  .navbar.top-nav-collapse {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #f1f9fc;
  }

  .offcanvas-collapse {
    position: static;
    top: auto;
    bottom: auto;
    left: auto;
    width: auto;
    padding-right: 0;
    padding-left: 0;
    background-color: transparent;
    overflow-y: visible;
    visibility: visible;
  }

  .offcanvas-collapse.open {
    -webkit-transform: none;
    transform: none;
  }

  .navbar .navbar-nav {
    margin-top: 0;
    margin-bottom: 0;
  }

  .navbar .nav-item .nav-link {
    padding-right: 0.625rem;
    padding-left: 0.625rem;
  }

  .navbar .dropdown-menu {
    margin-top: 0.25rem;
    box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.05);
  }

  .navbar .dropdown-divider {
    width: 90%;
  }

  .navbar .app-store-icons {
    margin-left: 0.875rem;
  }
  /* end of navigation */

  /* Copyright */
  .copyright {
    text-align: left;
  }

  .copyright .list-unstyled l.white_hr {
    background-color: whitesmoke;
    height: 1px;
  }
  .copyright .statement {
    text-align: right;
  }
  /* end of copyright */

  /* Extra Pages */
  .ex-cards-1 .card {
    display: inline-block;
    width: 296px;
    vertical-align: top;
  }

  .ex-cards-1 .card:nth-of-type(3n + 2) {
    margin-right: 1rem;
    margin-left: 1rem;
  }
  /* end of extra pages */
}
/* end of min-width 992px */

/* Min-width 1200px */
@media (min-width: 1200px) {
  /* General Styles */
  .h1-large {
    font-size: 3.125rem;
    line-height: 3.75rem;
  }
  /* end of general styles */

  /* Header */
  .header {
    padding-top: 11rem;
    padding-bottom: 8rem;
  }

  .header .text-container {
    margin-top: 10rem;
    margin-right: 3rem;
  }

  .header .image-container {
    text-align: right;
  }
  /* end of header */

  /* Features */
  .cards-1 .card {
    width: 350px;
    padding-right: 3rem;
    padding-left: 3rem;
  }

  .cards-1 .card:nth-of-type(3n + 2) {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }
  /* end of features */

  /* Details 1 */
  .basic-2 .text-container {
    margin-top: 4.25rem;
  }

  .basic-2 .image-container {
    margin-left: 3.5rem;
  }
  /* end of details 1 */

  /* Details 2 */
  .basic-3 .image-container {
    margin-right: 3.5rem;
  }

  .basic-3 .text-container {
    margin-top: 3.25rem;
  }
  /* end of details 2 */

  /* Details Lightbox */
  .lightbox-basic .image-container {
    margin-right: 1.5rem;
  }
  /* end of details lightbox */

  /* Details 3 */
  .basic-4 .text-container {
    margin-top: 4.25rem;
  }

  .basic-4 .image-container {
    margin-left: 3.5rem;
  }
  /* end of details 3 */

  /* Statistics */
  .counter #counter .cell {
    margin-right: 2.875rem;
    margin-left: 2.875rem;
  }

  .counter #counter .counter-value {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
  /* end of statistics */

  /* Pricing */
  .cards-2 .card {
    width: 340px;
  }

  .cards-2 .card:nth-of-type(3n + 2) {
    margin-right: 2.5rem;
    margin-left: 2.5rem;
  }

  .cards-2 .card .card-body {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }
  /* end of pricing */

  /* Conclusion */
  .basic-5 .text-container {
    margin-top: 11.5rem;
    margin-left: 3rem;
  }
  /* end of conclusion */

  /* Extra Pages */
  .ex-cards-1 .card {
    width: 336px;
  }

  .ex-cards-1 .card:nth-of-type(3n + 2) {
    margin-right: 2.875rem;
    margin-left: 2.875rem;
  }
  /* end of extra pages */
}
/* end of min-width 1200px */

.sr-only {
  visibility: hidden;
}
.bottom-contact-form .form-btn {
  padding: 15px 55px;
  margin-top: 6px;
  margin-left: 6px;
  float: left;
}
.blue_dark_hr {
  background-color: rgb(88, 189, 255);
  height: 1px;
}
.green_dark_hr {
  background-color: rgb(88, 255, 197);
  height: 1px;
}
