.fullheight {
  height: 100vh;
}
.ftco-section {
  position: relative;
  top: 40%;
}
.login_form {
  width: 40vw;
  position: relative;
  top: 10%;
}
.border_radius {
  padding: 3rem 3rem 3rem 4rem;
  border-radius: 20px;
}
.logout {
  cursor: pointer;
}
