.back_white {
  background-color: white;
}
.no_mar_top {
  margin-top: 1rem !important
  ;
}
.text_center {
  text-align: center;
}
.color_white {
  color: white;
}
.pin {
  color: white;
  border: 2px white solid;
  border-radius: 20px;
  transition: 0.5s;
  cursor: pointer;
  text-align: center;
  font-size: 13px;
}
.pin:hover {
  background-color: black;
  color: white;
}
.img-fluid {
}
